<div class="jumbotron">
    <div class="container center-block">
        <h1>Contact</h1>
		<p>Mail by pigeon only.</p>
		<img src="https://s-media-cache-ak0.pinimg.com/236x/20/d7/f6/20d7f6b81a529b69120663f240f7d6c9.jpg">
		<br>
		<sub>If the pigeon is unavailable, try another bird: <%= link_to '@SomewhatRounded', 'https://twitter.com/somewhatrounded' %></sub>
		<br>
        <p>This is the sample project I built for <a href="https://onemonthrails.com">One Month Rails</a>.</p>
    </div>
</div>
<div class="container">
	<div class="row">
		<h2>There probably won't be much more here</h2>
		<p>Cat ipsum dolor sit amet, devonshire rex siberian. Maine coon birman, yet tiger or cornish rex tiger and munchkin and cougar. Ocicat. Jaguar scottish fold and himalayan lynx lynx for devonshire rex. Tom grimalkin bobcat or savannah. Sphynx. American shorthair turkish angora cornish rex lynx cougar. Lynx lynx ocelot yet burmese. Bengal cougar, british shorthair ocelot so mouser for tomcat. Kitty bobcat. Munchkin siberian for siamese but puma. British shorthair havana brown. Egyptian mau abyssinian . Manx ragdoll mouser cheetah cheetah. Panther maine coon yet donskoy and jaguar. Panther kitten but scottish fold yet manx cougar ocicat. Tomcat. Norwegian forest puma cheetah but grimalkin. Cornish rex thai bengal yet siamese. Kitten. Kitty birman cheetah bobcat cheetah. Kitten siberian but kitten and maine coon for siamese, for bobcat cougar. </p>
	</div>
</div>
