<div class="jumbotron">
    <div class="container center-block">
        <h1>Contact</h1>
		<p>Mail by pigeon only.</p>
		<img src="https://s-media-cache-ak0.pinimg.com/236x/20/d7/f6/20d7f6b81a529b69120663f240f7d6c9.jpg">
		<br>
		<sub>If the pigeon is unavailable, try another bird: <%= link_to '@SomewhatRounded', 'https://twitter.com/somewhatrounded' %></sub>
		<br>
        <p>This is the sample project I built for <a href="https://onemonthrails.com">One Month Rails</a>.</p>
    </div>
</div>
