// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grey: #ecf0f1;
$gold: #f9e79f;
$light-teal: #76d7c4;
$dark-teal: #48c9b0;
$light-blue: #3498db;
$dark-blue: #2980b9;

.navbar-brand {
	font-family: 'Bungee', sans-serif;
}

.container {
	padding: 1em 0;
}

.jumbotron {
	border-radius: 0;
}

.jumbotron-home {
    background-image: url(image_path('space-bg-min.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.jumbotron .container {
    max-width: 40rem;
    color: #fff;
}

.alert {
	margin-bottom: 0;
}

.callout {
	background: $brand-primary;
	color: #fff;
	padding: 1em;
}

.title-area {
	margin-bottom: 1em;
}

h1.page-title {
    display: inline-block;
    //margin: 0;
    vertical-align: middle;
    text-transform: uppercase;
}

a.btn.btn-primary.float-xs-right.new {
    margin-top: 8px;
    margin-bottom: 1em;
}

.card.card-block {
    border-color: $dark-blue;
}

.card-block i {
    margin: 0.8em 1em 0 0;
}

footer {
	background: $gray-dark;
	color: #fff;
	width: 100%;
	a {
		color: #fff;
	}
	a:hover {
		color: $brand-primary;
	}
}