// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-brand {
	font-family: 'Bungee', sans-serif;
}

.container {
	padding: 1em 0;
}

.jumbotron {
	border-radius: 0;
}

.jumbotron-home {
    background-image: url(image_path('space-bg-min.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.jumbotron .container {
    max-width: 40rem;
    color: #fff;
}

.alert {
	margin-bottom: 0;
}

.callout {
	background: $brand-primary;
	color: #fff;
	padding: 1em;
}

footer {
	background: $gray-dark;
	color: #fff;
	width: 100%;
	a {
		color: #fff;
	}
	a:hover {
		color: $brand-primary;
	}
}